<header class="site-header" role="banner">
  <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img alt="Brand" style="width: 66px;" src="/images/smilee_logo_white.png">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for link in site.links %}
          <li><a class="nav-link {% if page.url == link.url %}active{% endif %}" href="{{ link.url | relative_url }}">{{ link.title | escape }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  </nav>
</header>
